/* navbar section */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
 }
 .nav-img-title{
    display: flex;
    gap: 20px;
    align-items: center;
 }

nav span{
    color: rgb(254, 70, 38);
}

.nav-img-title img{
    width: 70px;
    height: 50px;
}

nav > ul{
    display: flex;
    gap: 20px;
}

nav li{
   list-style: none;
} 

nav a{
    text-decoration: none;
}
/* banner section */

.banner{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.banner img{
    margin: auto;
    width: 100%;
}
.center{
    position: absolute;
    top: 140px;
    margin-left: 300px;
    transform: translate(-50% -50%);
    color: #FFFFFF;
    font-size: 70px;
    font-family: sans-serif;    
}
.center-1{
    position: absolute;
    top: 300px;
    margin-left: 400px;
    transform: translate(-50% -50%);
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
}
.center-2{
    position: absolute;
    top: 400px;
    margin-left: 280px;
    background: rgb(213, 201, 201);
    background: rgba(213, 204, 204, 0.5);
    color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}
.center-3{
    display: flex;
    gap: 30px;
    width: 665px;
}
.C1{
    color: black;  
    border: none;
    padding: 10px;
    border-radius: 7px;
    width: 150px;
    text-align: left;
}
.btn-primary-content{
    background-color: rgb(254, 70, 38);
    color: white;  
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
}
/* himalayan section */

.kashmir{
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
    margin-top: 70px;
}
.C3{
    position: relative;
    text-align: center;
    font-family: sans-serif;
}
/*image gird section */

.choose{
    display: grid;
    font-family: sans-serif;
    margin-top: 50px;
  }
 .gird-1{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 30px;
}
.gird-2{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}
.gird-3{ 
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;   
}
.container-1{
    position: relative;
    text-align: center;
    color: white;
}
.bangla{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* box desgin section */

.many h1{
    text-align: center;
    font-family: sans-serif;
    margin-top: 70px;
}
.many p{
    text-align: center;
    font-family: sans-serif;
}
.box{
    display: flex;
    gap: 20px;
    justify-content: center;
    font-family: sans-serif;
}
.box img{
    height: 50px;   
}
.box-1{
    background-color: rgb(241, 235, 226);
    width: 550px;
    padding: 20px;
    border-radius: 20px;
}
.BoB{
    display: flex;
    justify-content: center;
}
.BoB img{
    height: 50px;
}
.BoB-1{
    background-color: rgb(231, 213, 231);
    width: 550px;
    padding: 20px;
    border-radius: 20px;
}